<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userRole">
            <h2><span jhiTranslate="mtnDealerReportApp.userRole.detail.title">User Role</span> {{ userRole.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mtnDealerReportApp.userRole.name">Name</span></dt>
                <dd>
                    <span>{{ userRole.name }}</span>
                </dd>
                <dt><span jhiTranslate="mtnDealerReportApp.userRole.description">Description</span></dt>
                <dd>
                    <span>{{ userRole.description }}</span>
                </dd>
                <dt><span jhiTranslate="mtnDealerReportApp.userRole.user">User</span></dt>
                <dd>
                    <span *ngFor="let user of userRole.users; let last = last">
                        {{ user.id }}{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="mtnDealerReportApp.userRole.report">Report</span></dt>
                <dd>
                    <div *ngIf="userRole.report">
                        <a [routerLink]="['/report', userRole.report?.id, 'view']">{{ userRole.report?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-role', userRole.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
