<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-report-parameter-heading" jhiTranslate="mtnDealerReportApp.reportParameter.home.createOrEditLabel">Create or edit a Report Parameter</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mtnDealerReportApp.reportParameter.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mtnDealerReportApp.reportParameter.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mtnDealerReportApp.reportParameter.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="OPTIONAL">{{ 'mtnDealerReportApp.ParameterType.OPTIONAL' | translate }}</option>
                        <option value="REQUIRED">{{ 'mtnDealerReportApp.ParameterType.REQUIRED' | translate }}</option>
                        <option value="MANY">{{ 'mtnDealerReportApp.ParameterType.MANY' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mtnDealerReportApp.reportParameter.dataType" for="field_dataType">Data Type</label>
                    <select class="form-control" name="dataType" formControlName="dataType" id="field_dataType">
                        <option value="STRING">{{ 'mtnDealerReportApp.ParameterDataType.STRING' | translate }}</option>
                        <option value="NUMBER">{{ 'mtnDealerReportApp.ParameterDataType.NUMBER' | translate }}</option>
                        <option value="DECIMAL">{{ 'mtnDealerReportApp.ParameterDataType.DECIMAL' | translate }}</option>
                        <option value="BOOLEAN">{{ 'mtnDealerReportApp.ParameterDataType.BOOLEAN' | translate }}</option>
                        <option value="DATE">{{ 'mtnDealerReportApp.ParameterDataType.DATE' | translate }}</option>
                        <option value="DATE_TIME">{{ 'mtnDealerReportApp.ParameterDataType.DATE_TIME' | translate }}</option>
                        <option value="TIME">{{ 'mtnDealerReportApp.ParameterDataType.TIME' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mtnDealerReportApp.reportParameter.defaultValue" for="field_defaultValue">Default Value</label>
                    <input type="text" class="form-control" name="defaultValue" id="field_defaultValue"
                           formControlName="defaultValue"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mtnDealerReportApp.reportParameter.report" for="field_report">Report</label>
                    <select class="form-control" id="field_report" name="report" formControlName="report">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="reportOption.id === editForm.get('report')!.value?.id ? editForm.get('report')!.value : reportOption" *ngFor="let reportOption of reports; trackBy: trackById">{{ reportOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
